* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background: url("../kepek/hatter.jpg") rgba(0,0,0,1) no-repeat top center fixed;
	background-color: white;
		
}

img {
	max-width: 100%;
	max-height: 100%;
}

.oldal {
	background-color: rgba(255,255,255,.1);
	max-width: 1920px;
	min-width: 400px;
	width: 95%;
	margin: 0 auto;
	padding-top: 3rem;
	
	
	
}

header {
	display: block;
	width:100vw;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	box-shadow: 0 10px 10px rgba(255, 255, 255, .5);
	background-color: #512800;
	z-index: 2;

}

header img {
	position: relative;
	display: block;
	padding-top: 4px;
	margin: 0 auto;
	max-width: 90%;
}



.lablecTtava {
	display: inline-block;	
	position: sticky;
	position: -webkit-sticky;
	height: 30vw;
	left: 5vw;
	bottom: 0;
	z-index: 2;
}

.lablecAlbum {
	display: inline-block;	
	position: sticky;
	position: -webkit-sticky;
	height: 30vw;
	left: 80vw;
	bottom: 0;
	z-index: 2;
}

.ablakok{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 1;
	justify-content: space-between;
	
}


.nap {
	width: 100vw;
	height: 70vw;
	min-width: 400px;
	margin-bottom: 5rem;
	position: relative;
}



.ablak {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.szam {
	height: 30%;
}

.szam01 {background: url("../kepek/ablak/szam01.bmp") no-repeat top center; background-size: contain;}
.szam02 {background: url("../kepek/ablak/szam02.bmp") no-repeat top center; background-size: contain;}
.szam03 {background: url("../kepek/ablak/szam03.bmp") no-repeat top center; background-size: contain;}
.szam04 {background: url("../kepek/ablak/szam04.bmp") no-repeat top center; background-size: contain;}
.szam05 {background: url("../kepek/ablak/szam05.bmp") no-repeat top center; background-size: contain;}
.szam06 {background: url("../kepek/ablak/szam06.bmp") no-repeat top center; background-size: contain;}
.szam07 {background: url("../kepek/ablak/szam07.bmp") no-repeat top center; background-size: contain;}
.szam08 {background: url("../kepek/ablak/szam08.bmp") no-repeat top center; background-size: contain;}
.szam09 {background: url("../kepek/ablak/szam09.bmp") no-repeat top center; background-size: contain;}
.szam10 {background: url("../kepek/ablak/szam10.bmp") no-repeat top center; background-size: contain;}
.szam11 {background: url("../kepek/ablak/szam11.bmp") no-repeat top center; background-size: contain;}
.szam12 {background: url("../kepek/ablak/szam12.bmp") no-repeat top center; background-size: contain;}
.szam13 {background: url("../kepek/ablak/szam13.bmp") no-repeat top center; background-size: contain;}
.szam14 {background: url("../kepek/ablak/szam14.bmp") no-repeat top center; background-size: contain;}
.szam15 {background: url("../kepek/ablak/szam15.bmp") no-repeat top center; background-size: contain;}
.szam16 {background: url("../kepek/ablak/szam16.bmp") no-repeat top center; background-size: contain;}
.szam17 {background: url("../kepek/ablak/szam17.bmp") no-repeat top center; background-size: contain;}
.szam18 {background: url("../kepek/ablak/szam18.bmp") no-repeat top center; background-size: contain;}
.szam19 {background: url("../kepek/ablak/szam19.bmp") no-repeat top center; background-size: contain;}
.szam20 {background: url("../kepek/ablak/szam20.bmp") no-repeat top center; background-size: contain;}
.szam21 {background: url("../kepek/ablak/szam21.bmp") no-repeat top center; background-size: contain;}
.szam22 {background: url("../kepek/ablak/szam22.bmp") no-repeat top center; background-size: contain;}
.szam23 {background: url("../kepek/ablak/szam23.bmp") no-repeat top center; background-size: contain;}
.szam24 {background: url("../kepek/ablak/szam24.bmp") no-repeat top center; background-size: contain;}

.zsalu {
	height: 70%;
	background: url("../kepek/ablak/zsaluZarva.bmp") no-repeat top center;
	background-size: contain;
	z-index: 1;	
}

.zsalu:hover {
	height: 70%;
	background: url("../kepek/ablak/zsaluNyitva.bmp") no-repeat top center; 
	background-size: contain;
	z-index: 1;	
}


.kep {
	display: inline-block;
	position: absolute;
	top: 26vw;
	left: 28vw;	
	width: 39vw;
}



@media only screen and (min-width: 860px) {
	
	header img {
		width: 50vw;
	}

	div .ablakok {
		justify-content: space-evenly;
	}	
	
  	div .nap {
		width: 45vw;
		height: 31.5vw;
		min-width: 400px;
		margin-bottom: 5rem;
	}

	.kep {
		top: 12vw;
		left:14vw;
		width: 18vw;
	}

	.lablecAlbum, .lablecTtava {
		height: 15vw;
	}



}	

@media only screen and (min-width: 1900px) {
	
	header img {
		width: 30vw;
	}

	div .ablakok {
		justify-content: space-evenly;
	}	
	
  	div .nap {
		width: 30vw;
		height: 20vw;
		min-width: 400px;
		margin-bottom: 5rem;
	}

	.kep {
		top: 7vw;
		left: 9vw;
		width: 12vw;
	}

	.lablecAlbum, .lablecTtava {
		height: 10vw;
	}

}
	
	