@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background: url("../kepek/hatter2.jpg") rgba(0,0,0,1) repeat-x top center fixed;
	background-color: white;
    font-family: 'Spicy Rice', cursive;		
}

img {
	max-width: 100%;
	max-height: 100%;
}

header {
	display: block;
	width:100vw;
	position: fixed;
	top: 0;
	box-shadow: 0 10px 10px rgba(255, 255, 255, .5);
	background: url("../kepek/hatter3.jpg") #512800 repeat-x center center fixed;
	z-index: 2;
}

header img {
	display: block;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	max-width: 90%;
	box-shadow: 0 5px 10px rgba(255, 255, 255, 0.3);
}

.oldal {
	position: relative;
	top:20vw;
	width: 90%;
	max-width: 1920px;
	margin: 0 auto;
	padding-top: 3rem;
	margin-bottom: 10rem;	
}

footer .lablecTabla {
	display: inline-block;	
	position: fixed;
	height: 30vw;
	bottom: 0;
	z-index: 2;
}

footer .lablecTtava {
	left: 5vw;
}

footer .lablecRolam {
	height: 15vw;
	left: 37vw;
}

footer .lablecRolam:hover {
	height: 17vw;
}

footer .lablecAlbum {
	left: 57vw;
}

footer .lablecAlbum:hover {
	height: 32vw;
}

.oldal .ablakok{
	max-width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}


.oldal .ablakok .nap {
	display: inline-block;
	position: relative;
	width: 750px;
	height: 69vw;
	margin-bottom: 4rem;
}


.oldal .ablakok .nap a .ablak {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.oldal .ablakok .nap a .ablak .szam {
	height: 30%;
}

.oldal .ablakok .nap a .ablak .szam01 {background: url("../kepek/ablak/szam01.bmp") no-repeat top center; background-size: contain;}
.oldal .ablakok .nap a .ablak .szam02 {background: url("../kepek/ablak/szam02.bmp") no-repeat top center; background-size: contain;}
.oldal .ablakok .nap a .ablak .szam03 {background: url("../kepek/ablak/szam03.bmp") no-repeat top center; background-size: contain;}
.oldal .ablakok .nap a .ablak .szam04 {background: url("../kepek/ablak/szam04.bmp") no-repeat top center; background-size: contain;}
.oldal .ablakok .nap a .ablak .szam05 {background: url("../kepek/ablak/szam05.bmp") no-repeat top center; background-size: contain;}
.oldal .ablakok .nap a .ablak .szam06 {background: url("../kepek/ablak/szam06.bmp") no-repeat top center; background-size: contain;}
.oldal .ablakok .nap a .ablak .szam07 {background: url("../kepek/ablak/szam07.bmp") no-repeat top center; background-size: contain;}
.oldal .ablakok .nap a .ablak .szam08 {background: url("../kepek/ablak/szam08.bmp") no-repeat top center; background-size: contain;}
.oldal .ablakok .nap a .ablak .szam09 {background: url("../kepek/ablak/szam09.bmp") no-repeat top center; background-size: contain;}
.oldal .ablakok .nap a .ablak .szam10 {background: url("../kepek/ablak/szam10.bmp") no-repeat top center; background-size: contain;}
.oldal .ablakok .nap a .ablak .szam11 {background: url("../kepek/ablak/szam11.bmp") no-repeat top center; background-size: contain;}
.oldal .ablakok .nap a .ablak .szam12 {background: url("../kepek/ablak/szam12.bmp") no-repeat top center; background-size: contain;}
.oldal .ablakok .nap a .ablak .szam13 {background: url("../kepek/ablak/szam13.bmp") no-repeat top center; background-size: contain;}
.oldal .ablakok .nap a .ablak .szam14 {background: url("../kepek/ablak/szam14.bmp") no-repeat top center; background-size: contain;}
.oldal .ablakok .nap a .ablak .szam15 {background: url("../kepek/ablak/szam15.bmp") no-repeat top center; background-size: contain;}
.oldal .ablakok .nap a .ablak .szam16 {background: url("../kepek/ablak/szam16.bmp") no-repeat top center; background-size: contain;}
.oldal .ablakok .nap a .ablak .szam17 {background: url("../kepek/ablak/szam17.bmp") no-repeat top center; background-size: contain;}
.oldal .ablakok .nap a .ablak .szam18 {background: url("../kepek/ablak/szam18.bmp") no-repeat top center; background-size: contain;}
.oldal .ablakok .nap a .ablak .szam19 {background: url("../kepek/ablak/szam19.bmp") no-repeat top center; background-size: contain;}
.oldal .ablakok .nap a .ablak .szam20 {background: url("../kepek/ablak/szam20.bmp") no-repeat top center; background-size: contain;}
.oldal .ablakok .nap a .ablak .szam21 {background: url("../kepek/ablak/szam21.bmp") no-repeat top center; background-size: contain;}
.oldal .ablakok .nap a .ablak .szam22 {background: url("../kepek/ablak/szam22.bmp") no-repeat top center; background-size: contain;}
.oldal .ablakok .nap a .ablak .szam23 {background: url("../kepek/ablak/szam23.bmp") no-repeat top center; background-size: contain;}
.oldal .ablakok .nap a .ablak .szam24 {background: url("../kepek/ablak/szam24.bmp") no-repeat top center; background-size: contain;}

.oldal .ablakok .nap a .ablak .zsalu {
	height: 70%;
	background: url("../kepek/ablak/zsaluZarva.bmp") no-repeat top center;
	background-size: contain;
	z-index: 1;	
}

.oldal .ablakok .nap a .ablak .zsalu:hover {
	height: 70%;
	background: url("../kepek/ablak/zsaluNyitva.bmp") no-repeat top center; 
	background-size: contain;
	z-index: 1;	
}


.oldal .ablakok .nap a img {
	display: inline-block;
	position: absolute;
	top: 26vw;
	left: 25vw;	
	max-width: 0 auto;
	width: 39vw;
}



@media only screen and (min-width: 860px) {
	
	header img {
		width: 60vw;
	}
	.oldal {
		top: 15vw;
	}

	.oldal .ablakok .nap {
		display: inline-block;
		position: relative;
		width: 50%;
		height: 32vw;
		margin-bottom: 4rem;
	}

	/*
	.oldal .ablakok .nap {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex: 1;
		position: relative;
		width: 45vw;
		height: 32vw;
		margin-bottom: 4rem;
	}

	.oldal .ablakok .nap a .ablak {
		width: 35vw;
		height: 31.5vw;
		min-width: 400px;
		margin-bottom: 3rem;
	}
*/
	.oldal .ablakok .nap a img {
		top: 12vw;
		left:13vw;
		width: 19vw;
	}

	footer .lablecTabla {
		height: 15vw;
	}
	
	footer .lablecTtava {
		left: 3vw;
	}
	
	footer .lablecRolam {
		height: 7.5vw;
		left: 43vw;
	}
	
	footer .lablecRolam:hover {
		height: 9.5vw;
	}
	
	footer .lablecAlbum {
		left: 78vw;
	}
	
	footer .lablecAlbum:hover {
		height: 17vw;
	}


}	

@media only screen and (min-width: 1600px) {
	
	header img {
		width: 30vw;
	}

	.oldal {
		top: 8vw;
	}

	div .ablakok {
		justify-content: space-evenly;
	}	
	
	.oldal .ablakok .nap {
		width: 33%;
		height: 24vw;
	}
	.oldal .ablakok .nap a .ablak {
		height: 24vw;
	}

	.oldal .ablakok .nap a img {
		top: 9vw;
		left:8vw;
		width: 14vw;
	}

	footer .lablecTabla {
		height: 10vw;
	}
	
	footer .lablecTtava {
		left: 2vw;
	}
	
	footer .lablecRolam {
		height: 5vw;
		left: 45vw;
	}
	
	footer .lablecRolam:hover {
		height: 7vw;
	}
	
	footer .lablecAlbum {
		left: 84vw;
	}
	
	footer .lablecAlbum:hover {
		height: 12vw;
	}

}
	
@media only screen and (min-width: 1920px) {
	
	header img {
		width: 30vw;
	}

	.oldal {
		top: 7vw;
	}

	div .ablakok {
		justify-content: space-evenly;
	}	
	
	.oldal .ablakok .nap {
		width: 25%;
		height: 18vw;
	}

	.oldal .ablakok .nap a .ablak {
		height: 18vw;
	}

	.oldal .ablakok .nap a img {
		top: 6vw;
		left:6vw;
		width: 11vw;
	}

	footer .lablecTabla {
		height: 10vw;
	}
	
	footer .lablecTtava {
		left: 2vw;
	}
	
	footer .lablecRolam {
		height: 5vw;
		left: 45vw;
	}
	
	footer .lablecRolam:hover {
		height: 7vw;
	}
	
	footer .lablecAlbum {
		left: 84vw;
	}
	
	footer .lablecAlbum:hover {
		height: 12vw;
	}


}

@media only screen and (min-width: 2100px) {
	.oldal {
		width: 90%;
		max-width: 2500px;
			
	}
	.oldal .ablakok .nap {
		width: 20%;
		height: 14vw;
	}

	.oldal .ablakok .nap a .ablak {
		height: 14vw;
	}

	.oldal .ablakok .nap a img {
		top: 5vw;
		left:5vw;
		width: 8vw;
	}

}